.dashboard {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-card {
  min-height: 400px;
  border-radius: 30px;
  background-color: rgba(133, 123, 123, 0.436);
  padding: 15px 30px;
}

.add-quiz-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.add-quiz-button {
  /* background-color: red; */
  height: 30px;
  font-size: 90px;
}

.add-quiz-button.parent {
  height: 270px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* If you like this, be sure to ❤️ it. */
.wrapper {
  height: 100vh;
  /* This part is important for centering the content */
  display: flex;
  align-items: center;
  justify-content: center;

  /* End center
  background: -webkit-linear-gradient(to right, #834d9b, #d04ed6);
  background: linear-gradient(to right, #834d9b, #d04ed6); */
}

a{
  cursor: pointer;
}

.red{
  color: red;
}

.green{
  color: green;
}

.margin-left-10{
  margin-left: 10px;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s;
  z-index: 100;
  overflow: hidden !important;
}
.modal-parent.modal{
  filter: blur(10px);
}

#demo-modal{
  overflow-y: hidden;
  overflow-x: hidden;
  overflow: hidden;
  position: fixed;
}

.modal__content {
  border-radius: 10px;
  position: relative;
  min-height: 30vh;
  max-height: 90vh;
  overflow-y: scroll;
  width: 500px;
  max-width: 90%;
  background: rgba(248, 243, 243, 1);
  padding: 2em 2em;
  color:black;
}

.modal__footer {
  text-align: right;

}

.modal__close {
  margin-right: 3px;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}

::placeholder{
  color: rgb(131, 128, 128) !important;
}

.add-questions{
  font-size: 30px;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted rgb(70, 69, 69);
  margin-left: 10px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  padding: 5px;
  background-color: rgb(70, 69, 69);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -100px;
  text-decoration: none;
  font-weight:normal;
  font-size: 13px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(70, 69, 69) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}