@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

html, body {
    margin: 0px !important;
    padding: 0px !important;
    font-family: 'Open Sans', sans-serif;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body{
    /* width: 100vw; */
    min-height: 100vh;
    background-color: red;
    background-image: url("../assets/quiz-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.quiz_div{
    width: 40vw;
    min-height: 190px;
    /* margin: 10px; */
    padding: 10px 30px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.4);
    /* color: white; */
}

#question{
    margin-top: 20px;
    text-align: center;
    font-size: 40px !important;
    color:white;
}
.options{
    margin-top: 20px;
    text-align: center;
}



  